<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-commerce App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a class="button" href="/home">Home</a></li>
            <li><a class="button" href="{{ url_for('product_list') }}">Products Gallery</a></li>
            {% if current_user.is_authenticated %}
                <li><a class="button" >Welcome {{ current_user.username }}</a></li>
                <li><a class="button" href="{{ url_for('change_password') }}">Change Password</a></li>
                <li><a class="button" href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a class="button" href="{{ url_for('login') }}">Login</a></li>
                <li><a class="button" href="{{ url_for('signup') }}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
